.chart {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-wrapper {
    position: relative;
    width: 100%;
}

.texto-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #0e778b;
    font-weight: bold;
    width: 124px;
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F7FA;
    /* Institucional (Cinza Sebrae)/CinzaSebrae-90 */
    border: 2px solid #E0E6EB;
    border-radius: 100px;
}
google-chart{
    position: relative;
    z-index: 9;
}

.texto img {
    margin: 0 auto;
    display: block;
}

@media print {
    .chart-wrapper {
        page-break-inside: avoid;
    }
}