<div class="chart-wrapper">
    <div class="chart">
        <google-chart [title]="chart.title" [roles]="chart.roles" [type]="chart.type" [data]="chart.data"
            [columnNames]="chart.columnNames" [options]="chart.options" [formatter]="chart.formatter">
        </google-chart>
        <div class="texto-wrapper" [ngStyle]="{color:coloracao}">
            <div class="texto">
                <img src="../../../assets/images/icone-otimo.png" alt="" *ngIf="active && (valor > 75) ">
                <img src="../../../assets/images/icone-bom.png" alt="" *ngIf="active && (valor > 50 && valor < 76) ">
                <img src="../../../assets/images/icone-regular.png" alt=""
                    *ngIf="active && (valor > 25 && valor < 51) ">
                <img src="../../../assets/images/icone-ruim.png" alt="" *ngIf="active && ( valor < 26) ">
                <span>{{resposta}}%</span>
            </div>
        </div>
    </div>
</div>