<div class="porcentagem-painel" [ngClass]="{'leftPerc': leftPerc}">
    <div class="porcentagem-panel-current" [ngStyle]="{'width':service.porcentagem+'%'}">
        <span class="porcentagem-panel-current-number">{{service.porcentagem | number: '1.0-0'}}%</span>
    </div>
</div>