.porcentagem-painel {
    background: #E0E6EB;
    /* Institucional (Cinza Sebrae)/CinzaSebrae-97 */
    border: 3px solid #F5F7FA;
    box-sizing: border-box;
    border-radius: 8px;
    height: 16px;
    margin-bottom: 24px;
    margin-top: 24px;
    position: relative;
}

.porcentagem-panel-current {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width:0;
    background: #14ADCC;
    border-radius: 5px;
    transition: width 500ms ease;
}
.porcentagem-panel-current-number{
    position: absolute;
    left: 0;
    top: -4px;
    transform: translateY(-100%);
    font-weight: bold;
    font-size: 0.8rem;
    color: #617385;
}

@media only screen and (max-width: 1024px) {
    .porcentagem-painel.leftPerc {
        margin: 0;
        margin-left: 32px;
    }
    .porcentagem-painel.leftPerc .porcentagem-panel-current-number{
        top: -50%;
        left: -4px;
        transform: translate(-100%,20%);
    }
}