.resultado {
    position: fixed;
    top: 102px;
    left: 54%;
    width: 100%;
    transform: translateX(100%);
    background-color: #ffffff;
    box-shadow: 0px 8px 12px rgba(20, 46, 82, 0.2);
    border-radius: 4px;
    padding: 19px 22px;
    max-width: 290px;
    overflow: auto;
}

.resultado-painel-titulo{
    font-family: Montserrat;
    font-weight: 900;
    font-size: 0.8rem;
    line-height: 1.2;
    color: #8B99A7;
    text-transform: uppercase;
}

.button {
    /* Organização (Azul Aqua)/AzulAqua-44 */
    background: #14ADCC;
    /* Sombra/Profundidade-2 */
    box-shadow: 0px 2px 4px rgba(20, 46, 82, 0.2);
    border-radius: 4px;
    color: #ffffff;
    padding: 8px 12px;
    width: 100%;
    border: none;
    font-size: 1rem;
    line-height: 1.2;
}

.button:hover {
    background: rgb(16, 124, 146);
}

.button:disabled {
    /* Organização (Azul Aqua)/AzulAqua-44 */
    background: #14ADCC;
    opacity: 0.5;
}

.button:disabled:hover {
    background: #14ADCC;
}

@media only screen and (max-width: 1401px) {
    .resultado {
        left: 38%;
    }
}

@media only screen and (max-width: 1024px) {
    .resultado {
        position: fixed;
        left: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        transform: none;
        box-shadow: 0px 8px 12px rgba(20, 46, 82, 0.2);
        padding: 19px 0px;
        max-width: none;
        z-index: 999;
    }
    .resultado-painel-conteudo{
        display: flex;
        padding: 0 -15px;
        align-items: center;
    }
    .resultado-preview {
        display: none;
    }
}