<div class="resultado">
    <div class="resultado-painel-conteudo" *ngIf="service.resultado">
        <div class="resultado-painel-porcentagem col-6 col-lg p-lg-0">
            <h4 class="resultado-painel-titulo">Status das questões</h4>
            <app-porcentagem-panel [leftPerc]="true"></app-porcentagem-panel>
        </div>
        <div class="resultado-preview">
            <app-valores-view [tipoIcone]="0" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                [titulo]="service.resultado.campos[0].texto"
                [valor]="service.resultado.campos[0].subCampos[0].resposta">
            </app-valores-view>
            <app-valores-view [tipoIcone]="2" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                [titulo]="service.resultado.campos[3].texto"
                [valor]="service.resultado.campos[3].subCampos[0].resposta">
            </app-valores-view>
            <app-valores-view [tipoIcone]="1" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                [titulo]="service.resultado.campos[2].texto"
                [valor]="service.resultado.campos[2].subCampos[0].resposta">
            </app-valores-view>
            <app-valores-view [tipoIcone]="1" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                [titulo]="service.resultado.campos[1].texto"
                [valor]="service.resultado.campos[1].subCampos[0].resposta">
            </app-valores-view>
        </div>
        <div class="col-6 col-lg p-lg-0">
            <button class="button" data-toggle="modal" data-target="#exampleModal" [disabled]="service.saving">{{btnTexto}}</button>
        </div>
    </div>
</div>