.titulo-wrapper{
    border-bottom: 1px solid #E0E6EB;
    padding: 0px 40px;
    margin-bottom: 50px;
}

.titulo-wrapper > .titulo{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 5px solid #14ADCC;
    color: #14ADCC;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.2;
}

@media only screen and (max-width: 1024px) {
    .titulo-wrapper{
        padding: 0px 0px;
    }
}