<div class="wrapper">
    <div class="container">
        <div class="empresas">
            <div class="empresas-wrapper">
                <h4 class="empresas-titulo">Olá, <span class="nome">{{uService.usuario.userName}}</span>!</h4>
                <p *ngIf='uService.currentEmpresa'>Vamos analisar as finanças da <span class="empresa">{{uService.currentEmpresa.nomeFantasia}}?</span></p>
                <p *ngIf='!uService.currentEmpresa'>Percebi que você ainda não tem uma empresa cadastrada. <br> <a [routerLink]="['../gerenciador-conta/empresa']">Clique aqui</a> e cadastre sua empresa!</p>
                
                <div class="row align-items-center" *ngIf='uService.usuario.empresas.length > 0'>
                    <div class="col-lg-auto">
                        <app-empresas></app-empresas>
                    </div>
                    <div class="col-lg-auto">
                        <a [routerLink]="['../gerenciador-conta/empresa']" [class.disabled]="service.saving">Cadastrar outra empresa?</a>
                    </div>
                </div>
                <img src="../../../assets/images/personagem3.png" alt="" class="personagem">
            </div>
        </div>
        <ul class="etapas-mobile-active">
            <li *ngIf="index >= 0"><a routerLinkActive="active" [routerLink]="['../diagnostico/financas']" class="numero" data-texto="Finanças" [class.disabled]="service.saving">1</a></li>
            <li *ngIf="index >= 1"><a routerLinkActive="active" [routerLink]="['../diagnostico/custos']" class="numero" data-texto="Custos" [class.disabled]="service.saving">2</a></li>
            <li *ngIf="index == 2"><a routerLinkActive="active" [routerLink]="['../diagnostico/produtos']" class="numero" data-texto="Produto ou Serviços" [class.disabled]="service.saving">3</a></li>
        </ul>
        <div class="painel" *ngIf='uService.currentEmpresa'>
            <ul class="etapas">
                <li><a routerLinkActive="active" [routerLink]="['../diagnostico/financas']" class="numero" data-texto="Finanças" [class.disabled]="service.saving">1</a></li>
                <li><a routerLinkActive="active" [routerLink]="['../diagnostico/custos']" class="numero" data-texto="Custos" [class.disabled]="service.saving">2</a></li>
                <li><a routerLinkActive="active" [routerLink]="['../diagnostico/produtos']" class="numero" data-texto="Produto ou Serviços" [class.disabled]="service.saving">3</a></li>
            </ul>
            <div class="conteudo">
                <router-outlet></router-outlet>
            </div>
            <hr>
            <div class="buttons">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto p-0">
                        <button class="button-voltar" (click)="onBack()" *ngIf="currentPath != 'financas'" [disabled]="service.saving">Voltar</button>
                    </div>
                    <div class="col-auto p-0">
                        <button class="button-avancar" (click)="onNext()" *ngIf="currentPath != 'produtos'" [disabled]="service.saving">Avançar</button>
                    </div>
                    <div class="col-auto p-0" *ngIf="currentPath == 'produtos'">
                        <div class="info" >
                            Pronto! Clique no painel de resultados ao lado e conheça o diagnóstico da sua empresa.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="etapas-mobile">           
            <li *ngIf="index < 1"><a routerLinkActive="active" [routerLink]="['../diagnostico/custos']" class="numero" data-texto="Custos" [class.disabled]="service.saving">2</a></li>
            <li *ngIf="index < 2"><a routerLinkActive="active" [routerLink]="['../diagnostico/produtos']" class="numero" data-texto="Produto ou Serviços" [class.disabled]="service.saving">3</a></li>
        </ul>
        <app-resultado-painel *ngIf='uService.currentEmpresa'></app-resultado-painel>        
    </div>
</div>
<app-resultado  *ngIf='service.resultado'></app-resultado>
