.wrapper {
    background: #f5f7fa;
    min-height: 100vh;
    padding: 1px;
}

.container {
    max-width: 720px;
    position: relative;
}

.painel {
    /* Branco */
    background: #FFFFFF;
    /* Sombra/Profundidade-8 */
    box-shadow: 0px 8px 12px rgba(20, 46, 82, 0.2);
    border-radius: 4px;
    padding: 31px 22px 27px 44px;
    position: relative;
    min-height: 670px;
    /* max-height: 670px;
    overflow: auto; */
}

.empresas {
    position: relative;
    /* Branco */
    background: #FFFFFF;
    /* Sombra/Profundidade-8 */
    box-shadow: 0px 8px 12px rgba(20, 46, 82, 0.2);
    border-radius: 4px;
    padding: 19px 22px 22px 22px;
    padding-left: 200px;
    margin-top: 26px;
    margin-bottom: 24px;
    /* max-height: 670px;
     overflow: auto; */
}

.empresas-titulo {
    /* font-size: 19px;
    line-height: 23px; */
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: bold;
}

.personagem {
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 100%;
    max-width: 186px;
}

.empresa, .nome {
    /* font-family: 'Montserrat', sans-serif;
    font-weight: bold; */
}

.etapas-mobile-active, .etapas-mobile {
    display: none;
    padding: 0;
    list-style: none;
}

.etapas-mobile-active li, .etapas-mobile li {
    margin-bottom: 24px;
}

.etapas-mobile {
    margin-bottom: 100px;
}

.etapas {
    padding: 0;
    list-style: none;
    position: absolute;
    left: -32px;
    top: 100px;
}

.etapas li {
    margin-bottom: 107px;
}

.etapas li:last-child {
    margin-bottom: 0px;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: 2px solid #8B99A7;
    color: #8B99A7;
    position: relative;
    border-radius: 100px;
    font-weight: bold;
    /* font-size: 27px;
    line-height: 33px; */
    font-size: 1.7rem;
    line-height: 1.2;
    cursor: pointer;
    background: #ffffff;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.numero:hover {
    text-decoration: none;
}

.numero.active {
    border: 5px solid #14ADCC;
    color: #14ADCC;
    border-radius: 100px;
    box-shadow: 0px 8px 12px rgba(20, 46, 82, 0.2);
}

.numero::before {
    width: 160px;
    font-size: 1.2rem;
    line-height: 1.4;
    /* font-size: 19px;
    line-height: 23px; */
    content: attr(data-texto);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    right: 120%;
}

.button-voltar {
    /* Organização (Azul Aqua)/AzulAqua-90 */
    background: #D5F1F6;
    /* Organização (Azul Aqua)/AzulAqua-44 */
    border: 1px solid #14ADCC;
    color: #14ADCC;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    padding: 12px 15px 12px 19px;
    margin-left: 30px;
}

.button-voltar::after {
    content: "";
    position: absolute;
    left: -44px;
    top: 50%;
    transform: translateY(-50%);
    border: 23px solid transparent;
    border-right-color: #D5F1F6;
    z-index: 0;
}

.button-voltar::before {
    content: "";
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
    border: 23px solid transparent;
    border-right-color: #14ADCC;
    z-index: 0;
}

.button-avancar {
    position: relative;
    border: 1px solid #14ADCC;
    /* Organização (Azul Aqua)/AzulAqua-44 */
    background: #14ADCC;
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 19px 12px 15px;
    margin-right: 30px;
}

.button-avancar::before {
    content: "";
    position: absolute;
    right: -44px;
    top: 50%;
    transform: translateY(-50%);
    border: 23px solid transparent;
    border-left-color: #14ADCC;
    z-index: 0;
}

.button-avancar::after {
    content: "";
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    border: 23px solid transparent;
    border-left-color: #14ADCC;
    z-index: 0;
}

.info {
    position: relative;
    border: 1px solid #14ADCC;
    /* Organização (Azul Aqua)/AzulAqua-44 */
    background: #14ADCC;
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 19px 12px 15px;
    margin-right: 30px;
    max-width: 300px;
}

@media only screen and (max-width: 1401px) {
    .container {
        max-width: 600px;
        margin-left: 13%;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        margin-left: auto;
    }
    .empresas {
        display: none;
    }
    .personagem {
        display: none;
    }
    .painel {
        margin-bottom: 24px;
        padding-left: 22px;
    }
    .etapas-mobile-active, .etapas-mobile {
        display: block;
    }
    .etapas-mobile-active {
        padding-top: 24px;
    }
    .etapas {
        display: none;
    }
    .numero::before {
        left: 120%;
        text-align: left;
        right: auto;
    }
}

@media only screen and (max-width: 576px) {}