<div class="wrapper">
    <div class="box-register">
        <div class="text-align-center">
            <h1>Diagnóstico de Gestão Financeira</h1>
            <p>Cadastre-se. É rapidinho!</p>
            <small><i><span class="preenchimento">*</span> campos de preenchimento obrigatório</i></small>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form [formGroup]="service.formModel" class="mb-4" autocomplete="off" (submit)="onSubmit()">
                    <div class="form-group required">
                        <label>Nome Completo</label>
                        <input class="form-control" formControlName="FullName"
                            [ngClass]="{'is-valid': service.formModel.get('FullName').touched && service.formModel.get('FullName').valid, 'is-invalid':service.formModel.get('FullName').touched && service.formModel.get('FullName').errors?.required}">
                        <label class="text-danger"
                            *ngIf="service.formModel.get('FullName').touched && service.formModel.get('FullName').errors?.required">Esse
                            campo é obrigatório</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>E-mail</label>
                                <input class="form-control" formControlName="Email"
                                    [ngClass]="{'is-valid': service.formModel.get('Email').touched && service.formModel.get('Email').valid, 'is-invalid':service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email}">
                                <label class="text-danger"
                                    *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">E-mail
                                    invalido</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>CPF - <i>insira apenas números</i></label>
                                <input class="form-control" #Cpf formControlName="Cpf" CpfFilter
                                    [value]="FilterCpf(service.formModel.get('Cpf').value)" maxlength="14"
                                    [ngClass]="{'is-valid': service.formModel.get('Cpf').touched && service.formModel.get('Cpf').valid, 'is-invalid':service.formModel.get('Cpf').touched && service.formModel.get('Cpf').errors?.required}">
                                <label class="text-danger"
                                    *ngIf="service.formModel.get('Cpf').touched && service.formModel.get('Cpf').errors?.required">Esse
                                    campo é obrigatório</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>Telefone</label>
                                <input class="form-control" formControlName="Telefone"
                                    [ngClass]="{'is-valid': service.formModel.get('Telefone').touched && service.formModel.get('Telefone').valid, 'is-invalid':service.formModel.get('Telefone').touched && service.formModel.get('Telefone').errors?.required}">
                                <label class="text-danger"
                                    *ngIf="service.formModel.get('Telefone').touched && service.formModel.get('Telefone').errors?.required">Esse
                                    campo é obrigatório</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Tipo de Telefone</label>
                                <select name="" class="custom-select" formControlName="TipoTelefone">
                                    <option selected>Selecione</option>
                                    <option value="0">Celular</option>
                                    <option value="1">Fixo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="Passwords">
                        <div class="form-group required">
                            <label>Senha</label>
                            <input type="password" class="form-control" formControlName="Senha" minlength="6"
                                [ngClass]="{'is-valid': service.formModel.get('Passwords.Senha').touched && service.formModel.get('Passwords.Senha').valid, 'is-invalid':service.formModel.get('Passwords.Senha').touched && service.formModel.get('Passwords.Senha').errors?.minlength}">
                            <label class="text-danger"
                                *ngIf="service.formModel.get('Passwords.Senha').touched && service.formModel.get('Passwords.Senha').errors?.required">Esse
                                campo é obrigatório</label>
                            <label class="text-danger"
                                *ngIf="service.formModel.get('Passwords.Senha').touched && service.formModel.get('Passwords.Senha').errors?.minlength">Minimo
                                6 characters</label>
                        </div>
                        <div class="form-group required">
                            <label>Confirmar Senha</label>
                            <input type="password" class="form-control" formControlName="ConfirmSenha"
                                [ngClass]="{'is-valid': service.formModel.get('Passwords.ConfirmSenha').touched && service.formModel.get('Passwords.ConfirmSenha').valid, 'is-invalid':service.formModel.get('Passwords.ConfirmSenha').touched && service.formModel.get('Passwords.ConfirmSenha').errors?.required && service.formModel.get('ConfirmSenha').errors?.passwordMismatch}">
                            <label class="text-danger"
                                *ngIf="service.formModel.get('Passwords.ConfirmSenha').touched && service.formModel.get('Passwords.ConfirmSenha').errors?.required">Esse
                                campo é obrigatório</label>
                            <label class="text-danger"
                                *ngIf="service.formModel.get('Passwords.ConfirmSenha').touched && service.formModel.get('Passwords.ConfirmSenha').errors?.passwordMismatch">As
                                senhas não são compativeis</label>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-lg btn-block button"
                                [disabled]="!service.formModel.valid || loading">Cadastrar</button>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            <a class="btn btn-lg btn-block btn-secondary" [routerLink]="['../login']">Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>