.form-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

label{
    margin: 0;
    display: flex;
    align-items: center;
}

.form-group.required>label:first-child::after{
    content: "*";
    color: #dc3545;
    padding-left: 5px;
}

.wrapper {
    background-color: #f5f5f5;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input{
    background-color: #ffffff;
}

.preenchimento{
    font-size: 26px;
    color: #dc3545;
}

.box-register {
    /* background: #ffffff; */
    padding: 20px 40px;
    width: 100%;
    max-width: 1024px;
}

.box-register h1 {
    margin: 20px 0 15px;
    line-height: 20px;
    font-weight: bold;
}
.box-register form h1 {
    margin: 20px 0 15px;
    line-height: 20px;
    font-weight: bold;
    font-size: 19px;
}

.box-register label{
    color: #2c3e50;
}

.form-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.form-group label {
    margin: 0;
    display: flex;
    align-items: center;
}

.button {
    padding: 6px 19px;
    background-color: #3d5693;
    font-size: 19px;
    min-width: 138px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.button:hover {
    background-color: #2e416f;
}

small{
    color: #2c3e50;
}

small a {
    color: #2c3e50;
    text-decoration: underline;
}

small a:hover {
    text-decoration: none;
}



.tab-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab-header h2 {
    font-size: 1.4em;
    border-bottom: 1px solid #666666;
    color: #666666;
    padding: 20px;
    cursor: pointer;
}

.tab-header h2.active {
    font-size: 1.4em;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}