nav {
    background-color: #f5f7fa;
    padding-bottom: 0;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #e5eaee;
}

.navbar-brand {
    cursor: pointer;
    line-height: 1;
    white-space: normal;
}

.text-align-center {
    text-align: center;
}

.menu-button {
    margin: 0;
    padding: 5px;
    border-radius: 100px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.menu-button:hover {
    background-color: rgba(95, 99, 104, 0.24);
}

.icone-usuario {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 32px;
}

.usuario .icone-usuario {
    max-width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropdown-menu {
    width: 100vw;
    max-width: 20em;
}

.nome {
    color: #202124;
    font-size: 1rem;
    letter-spacing: .29px;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.email {
    color: #5f6368;
    font-size: .8em;
    letter-spacing: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.logout {
    padding: 10px 0;
}

@media only screen and (min-width: 1025px) {
    .visible-mobile{
        display: none!important;
    }
}
@media only screen and (max-width: 1024px) {
    .nav-wrapper {
        margin: 0 auto;
        max-width: 720px;
        padding-right: 15px;
        padding-left: 15px;
    }
}