<nav class="navbar navbar-light" *ngIf="uService.usuario">
    <div class="nav-wrapper">
        <div class="navbar-brand mb-0 col p-0" (click)="home()"><b>Bem-vindo ao Diagnóstico Financeiro!</b> <br>
            <small>Esse questionário vai
                ajudar a entender melhor suas finanças e avaliar sua capacidade financeira.</small></div>

        <form class="form-inline col-auto p-0">
            <div class="btn-group">
                <button class="menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/images/icone-usuario.png" alt="" class="icone-usuario">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="usuario mb-4">
                        <img src="assets/images/icone-usuario.png" alt="" class="icone-usuario">
                        <p class="nome">{{uService.usuario.userName}}</p>
                        <p class="email">{{uService.usuario.email}}</p>
                    </div>
                    <div class="text-align-center">
                        <button class="btn btn-outline-secondary" (click)="onGerenciar()">Gerenciar sua Conta</button>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="text-align-center logout">
                        <button class="btn btn-outline-secondary" (click)="onLogout()">Sair</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-12 p-0 mt-2 visible-mobile">
            <app-empresas></app-empresas>
        </div>
    </div>
</nav>