<div class="conteudo">
    <ng-container *ngFor="let topico of service.topicos; index as idx">
        <div class="titulo-wrapper">
            <h1 class="titulo">{{topico.texto}}</h1>
        </div>
        <ng-container *ngFor="let conteudo of topico.subCampos">
            <app-conteudo [conteudo]="conteudo"></app-conteudo>
        </ng-container>
    </ng-container>
</div>