<div class="painel-wrapper">
    <div class="painel">
        <div class="titulo-wrapper">
            <h1 class="titulo"> Informações pessoais</h1>
            <h4 class="info">Informações básicas, como seu nome e foto</h4>
        </div>
        <div class="conteudo-wrapper">
            <div class="conteudo">
                <h2 class="conteudo-titulo">Perfil</h2>
            </div>
            <div class="conteudo">
                <button class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>Foto</h3>
                        </div>
                        <div class="col texto">Uma foto ajuda a personalizar sua conta</div>
                        <div class="col-auto">
                            <img src="assets/images/icone-usuario.png" alt="" class="foto-icone">
                        </div>
                    </div>
                </button>
            </div>
            <div class="conteudo">
                <a [routerLink]="['../nome']" class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>Nome</h3>
                        </div>
                        <div class="col texto">{{uService.usuario.fullName}}</div>
                        <div class="col-auto">
                            <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
            <div class="conteudo">
                <a [routerLink]="['../email']" class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>E-mail</h3>
                        </div>
                        <div class="col texto">{{uService.usuario.email}}</div>
                        <div class="col-auto">
                            <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
            <div class="conteudo">
                <a [routerLink]="['../telefone']" class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>Telefone</h3>
                        </div>
                        <div class="col texto">{{uService.usuario.tipoTelefone | tipoTelefone}}
                            {{uService.usuario.telefone}}</div>
                        <div class="col-auto">
                            <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
            <div class="conteudo">
                <a [routerLink]="['../senha']" class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>Senha</h3>
                        </div>
                        <div class="col texto">••••••••</div>
                        <div class="col-auto">
                            <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="btn btn-outline-secondary" [routerLink]="['../../diagnostico/financas']">Voltar</a>
            </div>
        </div>

        <!-- <div class="conteudo-wrapper">
            <div class="conteudo">
                <h2 class="conteudo-titulo">Empresa</h2>
            </div>
            <div class="conteudo">
                <div class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>CNPJ</h3>
                        </div>
                        <div class="col texto">{{uService.usuario.cnpj}}</div>
                    </div>
                </div>
            </div>
            <div class="conteudo">
                <a [routerLink]="['../tipo-empresa']" class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>Tipo de Empresa</h3>
                        </div>
                        <div class="col texto">{{uService.usuario.tipoEmpresa | tipoEmpresa}}</div>
                        <div class="col-auto">
                            <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
            <div class="conteudo">
                <a [routerLink]="['../razao-social']" class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>Razão social</h3>
                        </div>
                        <div class="col texto">{{uService.usuario.razaoSocial}}</div>
                        <div class="col-auto">
                            <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
           
            <div class="conteudo">
                <a [routerLink]="['../produto']" class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>Produto</h3>
                        </div>
                        <div class="col texto">{{uService.usuario.produto}}</div>
                        <div class="col-auto">
                            <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
            <div class="conteudo">
                <a [routerLink]="['../faturamento']" class="button">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h3>Faturamento</h3>
                        </div>
                        <div class="col texto">{{uService.usuario.faturamento | moneyPtBr | currency:'BRL':'symbol':'1.2-2':'pt'}}</div>
                        <div class="col-auto">
                            <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
            
        </div> -->
    </div>
</div>