.painel-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 66px);
}

.painel-wrapper .painel {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.titulo-wrapper {
    padding: 20px;
    text-align: center;
}

.titulo-wrapper .titulo {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    margin: 0 0 8px 0;
    padding: 0;
    text-align: center;
}

.titulo-wrapper .info {
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    text-align: center;
}

.conteudo-wrapper {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin-bottom: 40px;
}

.conteudo-titulo {
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
}

.conteudo-wrapper .conteudo:first-child {
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 16px;
}

.button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 16px;
    text-align: left;
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid #dadce0;
}

.button:hover {
    text-decoration: none;
}

.button:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .04;
    background-color: #000000;
}

.button h3 {
    letter-spacing: .07272727em;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
    padding: 0;
    width: 100%;
}

.button .texto {
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    margin: 0;
    padding: 0;
    width: 100%;
}

.foto-icone {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 60px;
}

fa-icon {
    color: #5f6368;
    font-size: 24px;
}