<ng-container *ngIf="uService.usuario">
    <div class="container">
        <app-gerenciador-alteracao (eventEmitter)="onSalvar($event)" [usuario]="uService.usuario">
            <h1 class="titulo">Senha</h1>
            <h2 class="painel-titulo">Alterar Senha</h2>
            <div class="input-group mb-3 campos">
                <span class="campo-titulo">Senha Atual</span>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon"
                    [(ngModel)]="trocaSenha.senha">
            </div>
            <div class="input-group mb-3 campos">
                <span class="campo-titulo">Senha Nova</span>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon"
                    [(ngModel)]="trocaSenha.senhaNova">
            </div>
            <div class="input-group mb-3 campos">
                <span class="campo-titulo">Confirmar Senha Nova</span>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon"
                    [(ngModel)]="trocaSenha.confirmSenhaNova">
            </div>
        </app-gerenciador-alteracao>
    </div>
</ng-container>