hr {
    width: 100%;
}

.resultado-titulo {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bold;
    color: #617385;
}

.resultado-bloco {
    /* Branco */
    background: #FFFFFF;
    /* Sombra/Profundidade-4 */
    box-shadow: 0px 4px 8px rgba(20, 46, 82, 0.2);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

.personagem-padding {
    margin-top: 10px;
    padding-right: 280px;
}

.input-texto {
    font-size: 1em;
    color: #0e778b;
    font-weight: bold;
    border: none;
    background: none;
    display: inline-block;
}

.btn-imprimir, .btn-close, .btn-compartilhar, .btn-download {
    border: none;
    background: none;
    cursor: pointer;
}

.personagem {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 256px;
}

.border {
    padding: 20px;
}
.dados{
    padding: 40px 0;
}

.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-painel {
    max-width: 600px;
    color: #ffffff;
}

@media only screen and (max-width: 576px) {
    .personagem {
        display: none;
    }
    .personagem-padding {
        margin-top: 0px;
        padding-right: 15px;
    }
}

.blob .resultado-wrapper {
    overflow: hidden;
}

.blob a, .blob button {}

.blob {
    background-color: #ffffff;
    color: #000;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    max-width: 720px;
    min-width: 720px;
    min-height: 2132px;
}

.blob .modal-content {
    border: none;
}

.blob .close, .blob .resultado-porcentagem {
    display: none;
}

.blob .btn-imprimir, .blob .btn-close, .blob .btn-compartilhar, .blob .btn-download {
    display: none;
}

/* :host .blob  ::ng-deep *{
    color: #000!important;
} */

.blob .resultado-bloco {
    padding: 0;
    page-break-inside: avoid;
    page-break-after: avoid;
    page-break-before: avoid;
    position: relative;
    width: 100%;
    /* Branco */
    background: transparent;
    /* Sombra/Profundidade-4 */
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}

.blob .personagem {
    display: none;
}

.blob .margem {
    margin: 0;
}

.blob .col-lg-6, .blob .col-lg-7, .blob .col-lg-5 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media print {
    .modal-content {
        border: none;
    }
    #exampleModal {
        position: static;
        display: block;
        height: auto;
    }
    .close {
        display: none;
    }
    a, button {}
    .resultado-painel {
        transform: none;
        width: 100%;
        max-width: none;
        height: auto;
        max-height: none;
        position: static;
        display: block;
        background-color: #ffffff;
    }
    .btn-imprimir, .btn-close, .btn-compartilhar, .btn-download, .resultado-porcentagem {
        display: none;
    }
    /* :host::ng-deep *{
        color: #000;
    } */
    .resultado-bloco {
        padding: 0;
        page-break-inside: avoid;
        page-break-after: avoid;
        page-break-before: avoid;
        position: relative;
        width: 100%;
    }
    .personagem {
        display: none;
    }
    .margem {
        margin: 0;
    }
}