<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" #printable>
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <h4 class="modal-title" id="exampleModalLabel">Painel de diagnóstico financeiro</h4>
                <button (click)="onImprimir()" class="btn-imprimir"><img src="assets/images/icone-imprimir.png" alt=""
                        class="icone"></button>
                <button (click)="onCompartilhar()" class="btn-compartilhar"><img
                        src="assets/images/icone-compartilhar.png" alt="" class="icone"></button>
                <button (click)="onDownload()" class="btn-download"><img src="assets/images/icone-download.png" alt=""
                        class="icone"></button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="!service.saving">
                <div class="resultado-content">
                    <div class="row resultado-porcentagem">
                        <div class="col-lg-7">
                            <h4 class="resultado-titulo">Questões respondidas</h4>
                            <app-porcentagem-panel></app-porcentagem-panel>
                        </div>
                    </div>
                    <div class="resultado-bloco personagem-padding">
                        <h4 class="resultado-titulo">Totalizadores</h4>
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <app-valores-view [tipoIcone]="0" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[0].texto"
                                    [valor]="service.resultado.campos[0].subCampos[0].resposta"></app-valores-view>
                            </div>
                            <div class="col-lg-6">
                                <app-valores-view [tipoIcone]="1" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[3].texto"
                                    [valor]="service.resultado.campos[3].subCampos[0].resposta"></app-valores-view>
                            </div>
                            <div class="col-lg-6">
                                <app-valores-view [tipoIcone]="2" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[2].texto"
                                    [valor]="service.resultado.campos[2].subCampos[0].resposta"></app-valores-view>
                            </div>
                            <div class="col-lg-6">
                                <app-valores-view [tipoIcone]="2" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[16].texto"
                                    [valor]="service.resultado.campos[16].subCampos[0].resposta"></app-valores-view>
                            </div>

                        </div>
                        <img src="../../../../assets/images/personagem2.png" alt="" class="personagem">
                    </div>
                    <div class="resultado-bloco">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="resultado-titulo">Sua capacidade de pagamento de empréstimo bancário é de</h4>

                                <app-valores-view [tipoIcone]="0" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[4].texto"
                                    [valor]="service.resultado.campos[4].subCampos[0].resposta"></app-valores-view>
                                <app-valores-view [tipoIcone]="0" [titulo]="'Prazo estimado'" [prefixo]="true"
                                    [sufixo]="true" [preSimbolo]="'Últimos'" [suSimbolo]="'Meses'" [valor]="12">
                                </app-valores-view>
                                <div class="border">
                                    <p><a href="" target="_blank">Como melhorar minha capacidade de pagamento?</a></p>
                                    <small>Sebrae respostas</small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="resultado-titulo">O que isso significa?</h4>
                                <p>É quanto estimamos que sua empresa conseguirá pagar por mês de empréstimo caso mantenha
                                    as vendas e gastos informados.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="resultado-bloco">
                                <h4 class="resultado-titulo">Maturidade financeira</h4>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <app-google-chart [active]="false"
                                            [resposta]="service.resultado.campos[5].subCampos[0].resposta"
                                            *ngIf="service.maturidade">
                                        </app-google-chart>
                                        <div  class="text-align-center dados" *ngIf="!service.maturidade">Dados do diagnóstico não preenchidos</div>
                                    </div>
                                </div>
                                <p><a href="http://" target="_blank" rel="noopener noreferrer">Já pensou em contratar
                                        uma
                                        consultoria?</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="resultado-bloco">
                                <h4 class="resultado-titulo">Seu nível de satifação</h4>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <app-google-chart [active]="true"
                                            [resposta]="service.resultado.campos[6].subCampos[0].resposta"
                                            *ngIf="service.satisfacao">
                                        </app-google-chart>
                                        <div class="text-align-center dados" *ngIf="!service.satisfacao">Dados do diagnóstico não preenchidos</div>
                                    </div>
                                </div>
                                <p><a href="http://" target="_blank" rel="noopener noreferrer">Como melhorar?</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="resultado-bloco">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <p>Com venda média mensal de <span
                                        class="input-texto">{{service.resultado.campos[7].subCampos[0].resposta | moneyPtBr | currency:'BRL':'symbol':'1.2-2':'pt'}}</span>
                                    dá pra cobrir todos os custos</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="row align-items-center">
                                    <div class="col-lg-5">
                                        <app-google-chart [active]="false"
                                            [resposta]="service.resultado.campos[13].subCampos[0].resposta">
                                        </app-google-chart>
                                    </div>
                                    <div class="col">
                                        <p>E ainda sobra um lucro <span
                                                *ngIf="service.resultado.campos[12].subCampos[0].resposta < 0">negativo</span>
                                            de <span
                                                class="input-texto">{{service.resultado.campos[12].subCampos[0].resposta | moneyPtBr | currency:'BRL':'symbol':'1.2-2':'pt'}}</span>
                                            por mês o que representa uma lucratividade <span
                                                *ngIf="service.resultado.campos[13].subCampos[0].resposta < 0">negativa</span>
                                            de <span
                                                class="input-texto">{{service.resultado.campos[13].subCampos[0].resposta | porcentagem}}%</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <app-valores-view [tipoIcone]="0" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[7].texto"
                                    [valor]="service.resultado.campos[7].subCampos[0].resposta"></app-valores-view>
                                <app-valores-view [tipoIcone]="0" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[8].texto"
                                    [valor]="service.resultado.campos[17].subCampos[0].resposta"></app-valores-view>
                                <app-valores-view [tipoIcone]="0" [sufixo]="true" [suSimbolo]="'%'" [dinheiro]="false"
                                    [titulo]="service.resultado.campos[9].texto"
                                    [valor]="service.resultado.campos[9].subCampos[0].resposta"></app-valores-view>
                            </div>
                        </div>
                    </div>
                    <div class="resultado-bloco">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <p>Para cobrir todos os seus custos e não ter lucro nenhum, a empresa necessita vender
                                    no mínimo <span
                                        class="input-texto">{{service.resultado.campos[14].subCampos[0].resposta | moneyPtBr | currency:'BRL':'symbol':'1.2-2':'pt' }}</span>
                                </p>



                                <p>Considerando a manutenção da margem de contribuição e dos custos fixos, para que a
                                    empresa
                                    possa
                                    obter lucro de <span
                                        class="input-texto">{{service.resultado.campos[19].subCampos[0].resposta | moneyPtBr | currency:'BRL':'symbol':'1.2-2':'pt'}}</span>
                                    ao mês, será necessário vender <span
                                        class="input-texto">{{service.resultado.campos[17].subCampos[0].resposta | moneyPtBr | currency:'BRL':'symbol':'1.2-2':'pt'}}</span>
                                </p>

                                <p>Considerando seus gastos e a lucratividade desejada em relação a receita, verifica-se
                                    que a taxa de marcação é de <span
                                        class="input-texto">{{service.resultado.campos[11].subCampos[0].resposta | porcentagem}}</span>,
                                    ou seja, em média um produto que você compra por <span class="input-texto"
                                        *ngIf="service.resultado.campos[10].subCampos[0].resposta > 0">{{service.resultado.campos[10].subCampos[0].resposta | moneyPtBr | currency:'BRL':'symbol':'1.2-2':'pt'}}</span>
                                    <span class="input-texto"
                                        *ngIf="service.resultado.campos[10].subCampos[0].resposta <= 0">R$10,00</span>
                                    deve ser vendido por <span class="input-texto">{{service.resultado.campos[15].subCampos[0].resposta | moneyPtBr | currency:'BRL':'symbol':'1.2-2':'pt'}}</span>.
                                </p>

                                <p><a href="" target="_blank">Já pensou em contratar uma consultoria?</a></p>
                            </div>
                            <div class="col-lg-5">

                                <app-valores-view [tipoIcone]="1" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[2].texto"
                                    [valor]="service.resultado.campos[2].subCampos[0].resposta"></app-valores-view>

                                <app-valores-view *ngIf="service.resultado.campos[10].subCampos[0].resposta > 0"
                                    [tipoIcone]="0" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[10].texto"
                                    [valor]="service.resultado.campos[10].subCampos[0].resposta"></app-valores-view>

                                <app-valores-view *ngIf="service.resultado.campos[10].subCampos[0].resposta <= 0"
                                    [tipoIcone]="0" [prefixo]="false" [preSimbolo]="'R$'" [dinheiro]="false"
                                    [titulo]="service.resultado.campos[10].texto"
                                    [valor]=""></app-valores-view>

                                <app-valores-view [tipoIcone]="0" [prefixo]="true" [preSimbolo]="'R$'" [dinheiro]="true"
                                    [titulo]="service.resultado.campos[18].texto"
                                    [valor]="service.resultado.campos[14].subCampos[0].resposta"></app-valores-view>

                                <app-valores-view [tipoIcone]="0" [titulo]="service.resultado.campos[11].texto"
                                    [valor]="service.resultado.campos[11].subCampos[0].resposta"></app-valores-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading" *ngIf="loading">
    <div class="loading-painel">
        {{texto}}
    </div>
</div>