<select [(ngModel)]="uService.currentEmpresa" (change)="onChange()">
    <option value="" selected>Selecione uma empresa</option>
    <option [ngValue]="empresa" *ngFor="let empresa of uService.usuario.empresas">{{empresa.nomeFantasia}}
    </option>
</select>