<div class="wrapper">
    <div class="box-login">
        <h1>Diagnóstico de Gestão Financeira</h1>
        <label>Digite seus dados para realizar o login</label>
        <div class="row">
            <div class="col">
                <form #form="ngForm" class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
                    <div class="form-group">
                        <label>CPF</label>
                        <!-- <input class="form-control" #Cnpj="ngModel" name="Cnpj" CnpjFilter [(ngModel)]="formModel.Cnpj"
                            required maxlength="18" (input)="FilterCnpj(Cnpj.value)"> -->
                            <input class="form-control" #Cpf="ngModel" name="Cpf" CpfFilter [(ngModel)]="formModel.Cpf" required maxlength="14" (input)="FilterCpf(Cpf.value)">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control" #Senha="ngModel" name="Senha"
                            [(ngModel)]="formModel.Senha" required>
                    </div>
                    <div class="row justify-content-end mb-4">
                        <div class="col-auto">
                            <small class="float-right color-white">
                                <a routerLink="../request-password-reset">Esqueci minha senha</a>
                            </small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                            <button type="submit" class="btn btn-lg btn-block button" [disabled]="form.invalid">Entrar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <small class="float-right color-white">
                                Novo por aqui? <a routerLink="../register">Faça seu cadastro</a>
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>