<ng-container *ngFor="let opcao of opcoes[0].subCampos; index as idx2">
    <label class="row align-items-center emoji">
        <div class="opcao-icone col-auto pr-0">
            <img src="../../../assets/images/icone-otimo.png" alt="" *ngIf="idx2 == 0" [ngClass]="{'active': active == idx2}">
            <img src="../../../assets/images/icone-bom.png" alt="" *ngIf="idx2 == 1" [ngClass]="{'active': active == idx2}">
            <img src="../../../assets/images/icone-regular.png" alt="" *ngIf="idx2 == 2" [ngClass]="{'active': active == idx2}">
            <img src="../../../assets/images/icone-ruim.png" alt="" *ngIf="idx2 == 3" [ngClass]="{'active': active == idx2}">
            <input [hidden]="true"  #emoji  type="radio" [attr.name]="'emoji'+'-'+idRandom" [value]="opcao.active"  (change)="onChange(idx2)" [disabled]="service.saving">
        </div>
        <div class="col-auto"><span>{{opcao.texto}}</span></div>
    </label>
</ng-container>