<ng-container *ngIf="uService.usuario">
    <div class="container">
        <app-gerenciador-alteracao (eventEmitter)="onSalvar($event)" [usuario]="uService.usuario">
            <h1 class="titulo">Telefone</h1>
            <h2 class="painel-titulo">Alterar Telefone</h2>
            <div class="input-group mb-3 campos">
                <span class="campo-titulo">Tipo</span>
                <select name="" class="custom-select" [(ngModel)]="uService.usuario.tipoTelefone">
                    <option selected>Selecione</option>
                    <option value="0">Celular</option>
                    <option value="1">Fixo</option>
                </select>
            </div>
            <div class="input-group mb-3 campos">
                <span class="campo-titulo">Telefone</span>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon"
                    [(ngModel)]="uService.usuario.telefone">
            </div>
        </app-gerenciador-alteracao>
    </div>
</ng-container>