<ng-container *ngIf="uService.usuario">
    <div class="container">
        <app-gerenciador-alteracao (eventEmitter)="onSalvar($event)" [usuario]="uService.usuario">
            <h1 class="titulo">Tipo Empresa</h1>
            <h2 class="painel-titulo">Alterar Tipo Empresa</h2>
            <div class="input-group mb-3 campos">
                <span class="campo-titulo">Tipo Empresa</span>
                <select name="" class="custom-select" [(ngModel)]="uService.currentEmpresa.tipoEmpresa">
                    <option selected>Selecione</option>
                    <option value="0">MEI</option>
                    <option value="1">ME</option>
                    <option value="2">EPP</option>
                    <option value="3">Produtor Rural</option>
                </select>
            </div>
        </app-gerenciador-alteracao>
    </div>
</ng-container>