<ng-container *ngIf="uService.usuario">
    <div class="container">
        <app-gerenciador-alteracao (eventEmitter)="onSalvar($event)" [usuario]="uService.usuario">
            <h1 class="titulo">Faturamento</h1>
            <h2 class="painel-titulo">Alterar Faturamento</h2>
            <div class="input-group mb-3 campos">
                <span class="campo-titulo">Faturamento</span>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">R$</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon"
                    [(ngModel)]="uService.currentEmpresa.faturamento" appCurrencyMask>
            </div>
        </app-gerenciador-alteracao>
    </div>
</ng-container>