<ng-container *ngFor="let opcao of opcoes[0].subCampos; index as idx2">
    <label class="row align-items-center circulo">
        <div class="col-auto pr-0">
            <fa-icon class="icone-circle" *ngIf="!opcao.active" [icon]="['far', 'circle']"></fa-icon>
            <fa-icon class="icone-circle active" *ngIf="opcao.active" [icon]="['fas', 'circle']"></fa-icon>            
            <input [hidden]="true" type="radio" #circle  [attr.name]="'circle'+'-'+idRandom"  [value]="opcao.active"  (change)="onChange(idx2)" [disabled]="service.saving">
        </div>
        <div class="col">
            <span>{{opcao.texto}}</span>
        </div>
    </label>
</ng-container>