﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */

@font-face {
    font-family: "Avenir Next", sans-serif;
    src: url("AvenirNextLTPro-Regular.ttf" ) format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Next", sans-serif;
    src: url("AvenirNextLTPro-It.ttf" ) format("ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Avenir Next", sans-serif;
    src: url("AvenirNextLTPro-Bold.ttf" ) format("ttf");
    font-weight: bold;
    font-style: normal;
}