.conteudo {
    margin-bottom: 60px;
}

.titulo {
    font-weight: bold;
}

.descricao {
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1.2;
}

.descricao-titulo {
    /* font-size: 13px;
    line-height: 16px; */
    font-size: 0.8rem;
    line-height: 1.2;
    font-weight: normal;
    font-style: italic;
}