<div class="conteudo">
    <p class="titulo">{{conteudo.texto}} <br *ngIf="conteudo.subCampos[0].subCampos.length > 0"><small class="descricao-titulo" *ngIf="conteudo.subCampos[0].subCampos.length > 0">{{conteudo.descricao}}</small></p>
    <div *ngIf="!conteudo.subCampos[0].subCampos.length;">
        <app-campo-texto [opcoes]="conteudo.subCampos"></app-campo-texto>
        <small class="descricao">{{conteudo.descricao}}</small>
    </div>
    <div *ngIf="conteudo.subCampos[0].subCampos.length > 0">
        <div class="opcao">
            <app-campo-circle [opcoes]="conteudo.subCampos" *ngIf="conteudo.subCampos[0].subCampos.length < 4">
            </app-campo-circle>
            <app-campo-emoji [opcoes]="conteudo.subCampos" *ngIf="conteudo.subCampos[0].subCampos.length > 3">
            </app-campo-emoji>
        </div>
    </div>
</div>