<ng-container *ngIf="uService.usuario">
    <div class="container">
        <app-gerenciador-alteracao (eventEmitter)="onSalvar($event)" [usuario]="uService.usuario">
            <h1 class="titulo">Produto</h1>
            <h2 class="painel-titulo">Alterar Produto</h2>
            <div class="input-group mb-3 campos">
                <span class="campo-titulo">Produto</span>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon"
                    [(ngModel)]="uService.currentEmpresa.produto">
            </div>
        </app-gerenciador-alteracao>
    </div>
</ng-container>