.painel-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: calc(100vh - 56px);
    background-color: #ffffff;
}

header {
    border-bottom: 1px solid #dadce0;
    margin-bottom: 40px;
    padding: 20px;
    width: 100%;
}

.icone{
    color: #202124;
}

::ng-deep .titulo {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.25rem;
}

section {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

section .painel {
    padding: 16px 24px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin-bottom: 40px;
}

::ng-deep .painel-titulo {
    letter-spacing: .07272727em;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    -moz-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin-bottom: 4px;
}

::ng-deep .campos{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
::ng-deep .campo-titulo{
    position: absolute;
    left: 14px;
    top: -10px;
    font-size: 0.8rem;
    z-index: 2;
}



.form-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

label{
    text-transform: uppercase;
    margin: 0;
    display: flex;
    align-items: center;
}

.form-group.required>label:first-child::after{
    content: "*";
    color: #dc3545;
    padding-left: 5px;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.50);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-register {
    background: rgba(0, 0, 0, 0.65);
    color: #000000;
    padding: 20px 40px;
    width: 100%;
    max-width: 1024px;
}

.box-login h1 {
    text-transform: uppercase;
    margin: 20px 0 15px;
    line-height: 20px;
    font-weight: bold;
    font-size: 19px;
}

.box-login label{
    color: #000000;
}

.form-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.form-group label {
    text-transform: uppercase;
    margin: 0;
    display: flex;
    align-items: center;
}


small a {
    text-decoration: underline;
}

small a:hover {
    text-decoration: none;
}



.tab-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab-header h2 {
    font-size: 1.4em;
    border-bottom: 1px solid #666666;
    color: #666666;
    padding: 20px;
    cursor: pointer;
}

.tab-header h2.active {
    font-size: 1.4em;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}


