<div class="painel-wrapper">
    <header>
        <div class="row align-items-center">
            <div class="col-auto">
                <a [routerLink]="['../../diagnostico/financas']" class="icone">
                    <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                </a>
            </div>
            <div class="col">
                <h1 class="titulo">Cadastrar Empresa</h1>                
            </div>
        </div>
    </header>

    <section>
        <div class="painel">            
            <div class="campos">
                <form [formGroup]="service.formModel" class="mb-4" autocomplete="off" (submit)="onSubmit()">
                    <div class="form-group required">
                        <label>Nome Fantasia</label>
                        <input class="form-control" formControlName="NomeFantasia"
                            [ngClass]="{'is-valid': service.formModel.get('NomeFantasia').touched && service.formModel.get('NomeFantasia').valid, 'is-invalid':service.formModel.get('NomeFantasia').touched && service.formModel.get('NomeFantasia').errors?.required}">
                        <label class="text-danger"
                            *ngIf="service.formModel.get('NomeFantasia').touched && service.formModel.get('NomeFantasia').errors?.required">Esse
                            campo é obrigatório</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>CNPJ</label>
                                <input class="form-control" #Cnpj formControlName="Cnpj" CnpjFilter
                                    [value]="FilterCnpj(service.formModel.get('Cnpj').value)" maxlength="18"
                                    [ngClass]="{'is-valid': service.formModel.get('Cnpj').touched && service.formModel.get('Cnpj').valid, 'is-invalid':service.formModel.get('Cnpj').touched && service.formModel.get('Cnpj').errors?.required}">
                                <label class="text-danger"
                                    *ngIf="service.formModel.get('Cnpj').touched && service.formModel.get('Cnpj').errors?.required">Esse
                                    campo é obrigatório</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>Tipo de Empresa</label>
                                <select name="" class="custom-select" formControlName="TipoEmpresa">
                                    <option selected>Selecione</option>
                                    <option value="0">MEI</option>
                                    <option value="1">ME</option>
                                    <option value="2">EPP</option>
                                    <option value="3">Produtor Rural</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>Razão Social</label>
                                <input class="form-control" formControlName="RazaoSocial"
                                    [ngClass]="{'is-valid': service.formModel.get('RazaoSocial').touched && service.formModel.get('RazaoSocial').valid, 'is-invalid':service.formModel.get('RazaoSocial').touched && service.formModel.get('RazaoSocial').errors?.required}">
                                <label class="text-danger"
                                    *ngIf="service.formModel.get('RazaoSocial').touched && service.formModel.get('RazaoSocial').errors?.required">Esse
                                    campo é obrigatório</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>Qual seu principal produto/serviço:</label>
                                <input class="form-control" formControlName="Produto"
                                    [ngClass]="{'is-valid': service.formModel.get('Produto').touched && service.formModel.get('Produto').valid, 'is-invalid':service.formModel.get('Produto').touched && service.formModel.get('Produto').errors?.required}">
                                <label class="text-danger"
                                    *ngIf="service.formModel.get('Produto').touched && service.formModel.get('Produto').errors?.required">Esse
                                    campo é obrigatório</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center justify-content-center">
                        <div class="col-auto">
                            <a [routerLink]="['../../diagnostico/financas']" class="btn btn-outline-secondary">Cancelar</a>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success" [disabled]="!service.formModel.valid || loading">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>

            
        </div>
    </section>
</div>