﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */

@font-face {
    font-family: "Metropolis", sans-serif;
    src: url("TTF/Metropolis-Regular.ttf" ) format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis", sans-serif;
    src: url("TTF/Metropolis-RegularItalic.ttf" ) format("ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Metropolis", sans-serif;
    src: url("TTF/Metropolis-ExtraBold.ttf" ) format("ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis", sans-serif;
    src: url("TTF/Metropolis-ExtraBoldItalic.ttf" ) format("ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Metropolis", sans-serif;
    src: url("TTF/Metropolis-Light.ttf" ) format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis", sans-serif;
    src: url("TTF/Metropolis-LightItalic.ttf" ) format("ttf");
    font-weight: 300;
    font-style: italic;
}