<ng-container *ngIf="uService.usuario">
    <div class="container">
        <app-gerenciador-alteracao (eventEmitter)="onSalvar($event)" [usuario]="uService.usuario">
            <h1 class="titulo">Nome</h1>
            <h2 class="painel-titulo">Alterar Nome</h2>
            <div class="input-group mb-3 campos">
                <span class="campo-titulo">Nome Completo</span>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon"
                    [(ngModel)]="uService.usuario.fullName">
            </div>
        </app-gerenciador-alteracao>
    </div>
</ng-container>