/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');
@import url('assets/fonts/avenir-next/stylesheet.css');
body {
    font-family: 'Lato', sans-serif;
    /* font-size: 1.4em; */
    font-size: 1rem;
    line-height: 1.2;
    color: #394D60;
}

a.disabled {
    pointer-events: none;
    cursor: default;
 }

.text-align-center {
    text-align: center;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #2f66b8;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #2f66b8;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #2f66b8;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #2f66b8;
}

.tooltip .tooltip-inner {
    background-color: #2f66b8;
    text-align: left;
    border-radius: 10px;
    padding: 15px;
    max-width: 330px;
    font-size: 1.4em;
}

[data-toggle="tooltip"] {
    cursor: pointer;
}

@media print {
    .painel,nav, .empresas,.wrapper {
        display: none!important;
    }
    
    .printing * {
        visibility: hidden;
    }
    .printing #exampleModal, .printing #exampleModal * {
        visibility: visible!important;
    }
    * {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

@page {
    size: A4;
    margin: 2cm 1cm;
}