.painel-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: calc(100vh - 56px);
    background-color: white;
}

header {
    border-bottom: 1px solid #dadce0;
    margin-bottom: 40px;
    padding: 20px;
    width: 100%;
}

.icone{
    color: #202124;
}

::ng-deep .titulo {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.25rem;
}

section {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

section .painel {
    padding: 16px 24px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin-bottom: 40px;
}

::ng-deep .painel-titulo {
    letter-spacing: .07272727em;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    -moz-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin-bottom: 4px;
}

::ng-deep .campos{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
::ng-deep .campo-titulo{
    position: absolute;
    left: 14px;
    top: -10px;
    background-color: #ffffff;
    font-size: 0.8rem;
    z-index: 2;
}


