<div class="painel-wrapper">
    <header>
        <div class="row align-items-center">
            <div class="col-auto">
                <a [routerLink]="['../painel']" class="icone">
                    <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                </a>
            </div>
            <div class="col">
                <!-- <h1 class="titulo">{{titulo}}</h1> -->
                <ng-content select=".titulo"></ng-content>
            </div>
        </div>
    </header>

    <section>
        <div class="painel">
            <ng-content select=".painel-titulo"></ng-content>
            
            <ng-content select=".campos"></ng-content>

            <div class="row align-items-center justify-content-center">
                <div class="col-auto">
                    <a [routerLink]="['../painel']" class="btn btn-outline-secondary">Cancelar</a>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" (click)="onSalvar()">salvar</button>
                </div>
            </div>
        </div>
    </section>
</div>