<div class="wrapper">
    <section class="bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="titulo">Diagnóstico Financeiro</h1>
                    <p class="mb-3">Ao responder um pequeno questionário, você refletirá sobre a maturidade financeira do seu negócio e conhecerá indicadores da sua empresa. </p>
                    <a type="button" [routerLink]="['../login']" class="button">Faça agora!</a>
                </div>
                <div class="col-lg-6">
                    <img src="assets/images/personagem.png" alt="" class="personagem">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-1-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="assets/images/painel.png" alt="" class="quadro1">
                </div>
                <div class="col-lg-6">
                    <h1 class="titulo">Sua capacidade financeira</h1>
                    <p>Para manter uma empresa saudável, é preciso conhecer suas receitas e despesas e traçar estratégias.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1 class="titulo">Dashboard <br> analítico</h1>
                    <p>O resultado é simples e visual. Portanto, permite uma interpretação acessível.</p>
                </div>
                <div class="col-lg-6">
                    <img src="assets/images/painel2.png" alt="" class="quadro1">
                </div>
            </div>
        </div>
    </section>
</div>