.wrapper {
    min-height: 100vh;
    width: 100%;
}

section {
    min-height: 550px;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.button {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(20, 46, 82, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    background: none;
    color: #ffffff;
}

.button:hover{
    background-color: #ffffff;
    color: #617385;
    text-decoration: none;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.bg {
    /* background-image: url(../../../assets/images/bg.png); */
    background: linear-gradient(85.44deg, #0E778B 1.84%, #58C4DA 98.94%);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.bg2 {
    /* background-image: url(../../../assets/images/bg2.png); */
    background: #617385;
    background-size: auto 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.bg-1-2 {
    position: relative;
}

.bg-1-2::after {
    content: "";
    background-image: url(../../assets/images/bg-parte1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 170px;
}

.bg-1-2::before {
    content: "";
    background-image: url(../../assets/images/bg2-part1.png);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 170px;
}

.quadro1 {
    width: 100%;
    z-index: 111;
    position: relative;
}

.personagem {
    width: 100%;
}