.titulo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 1.2;
    color: #8B99A7;
    margin-bottom: 0;
}

.icone {
    display: block;
    width: 100%;
    max-width: 40px;
    margin: 0 auto;
}

.conteudo .real, .conteudo .form-control {
    font-weight: bold;
    line-height: 19px;
    /* Institucional (Cinza Sebrae)/CinzaSebrae-45 */
    color: #617385;
    width: auto;
    flex-grow: 0;
}

.conteudo .form-control {
    border: none;
    background: none;
    font-size: 1rem;
    line-height: 1.2;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    height: auto;
}