<div class="row mb-3 align-items-center">
    <div class="col-auto pr-0">
        <img src="../../../../assets/images/icone-1.png" alt="" class="icone" *ngIf="tipoIcone == 0">
        <img src="../../../../assets/images/icone-2.png" alt="" class="icone" *ngIf="tipoIcone == 1">
        <img src="../../../../assets/images/icone-3.png" alt="" class="icone" *ngIf="tipoIcone == 2">
    </div>
    <div class="col">
        <p class="titulo">{{titulo}}</p>
        <div class="conteudo">
            <div class="input-group align-items-center">
                <div class="form-control p-0">
                    <span class="real" *ngIf="prefixo == true">{{preSimbolo}} </span> 
                    <span
                        disabled *ngIf="dinheiro">{{valor | moneyPtBr | currency:' ':'symbol':'1.2-2':'pt'}}</span>
                    <span
                        disabled *ngIf="!dinheiro" [ngClass]="{'p-0':checkType(valor) == 'string'}">{{valor | porcentagem}}</span> 
                    <span class="real" *ngIf="sufixo == true"> {{suSimbolo}}</span>
                </div>
            </div>
        </div>
    </div>
</div>