<ng-container *ngFor="let opcao of opcoes; index as idx">
    <div class="input-group mb-1">
        <div class="input-group-prepen real">
            R$
        </div>
        <input [disabled]="opcao.tipo == 3" type="tel" class="form-control" [(ngModel)]="opcao.resposta"
            (blur)="saveResposta(opcao)" appCurrencyMask [disabled]="service.saving">
        <button class="btn-remove " *ngIf="idx > 0" (click)="onRemover(opcao)" [disabled]="service.saving">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
    </div>
</ng-container>