.button {
    /* Organização (Azul Aqua)/AzulAqua-90 */
    background: #D5F1F6;
    /* Organização (Azul Aqua)/AzulAqua-44 */
    border: 1px solid #14ADCC;
    color: #14ADCC;
    box-sizing: border-box;
    border-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.real{
    border: 1px solid #14ADCC;
    /* Organização (Azul Aqua)/AzulAqua-44 */
    background: #14ADCC;
    color: #ffffff;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

input{
    text-align: left!important;
}